<div><embed- src="{{ include.src }}"><p class="embed-fallback"><a href="{{ include.src }}" rel="noreferrer noopener">Przejdź bezpośrednio do osadzonej treści{{ include.src | embedOrigin }}</a></p></embed-></div>
