<figure class="image">
	{% if include.link %}
	<a href="{{ include.link }}" rel="noopener noreferrer" class="figure__link">
	{% endif %}
	{% image include.src include.alt include.style %}
	{% if include.link %}
	</a>
	{% endif %}
	{% if include.caption %}
	<figcaption class="figure__caption">{{ include.caption }}</figcaption>
	{% endif %}
</figure>
