<footer class="footer">
  <p><small>Używam cookies w celu polepszenia działania witryny.
  <button id="cookie-settings">Ustawienia ciasteczek</button>
  <a href="/polityka-prywatnosci.html">Polityka prywatności</a></small></p>
  <p>Copyright © <a href="https://www.comandeer.pl">Comandeer</a></p>
</footer>

<dialog id="cookie-dialog" class="cookie-dialog" aria-labelledby="cookie-dialog-name">
	<button id="cookie-dialog-close" class="cookie-dialog__close">&times; Zamknij</button>
	<form id="cookie-dialog-form" method="dialog">
		<h2 id="cookie-dialog-name">Dostosuj ciasteczka</h2>
		<p id="cookie-dialog-description">Wybierz z poniższej listy, który rodzaj ciasteczek chcesz zaakceptować.
		Więcej szczegółów odnośnie wykorzystania poszczególnych rodzajów znajduje się w <a href="/polityka-prywatnosci.html">polityce prywatności</a>.</p>
		<div role="group" aria-label="Ciasteczka">
			<p>
				<input type="checkbox" checked disabled id="cookie-dialog-necessary">
				<label for="cookie-dialog-necessary"><b>Niezbędne</b></label> – te ciasteczka przechowują informacje niezbędne do poprawnego działania strony.
			</p>
			<p>
				<input type="checkbox" id="cookie-dialog-prefs" name="prefs">
				<label for="cookie-dialog-prefs"><b>Preferencje</b></label> – te ciasteczka pozwalają na dostosowanie działania strony do swoich preferencji,
				np. przez dobór motywu.
			</p>
			<p>
				<input type="checkbox" id="cookie-dialog-embed" name="embed">
				<label for="cookie-dialog-embed"><b>Osadzona treść</b></label> – na stronie w niektórych miejsach osadzona jest treść z innych źródeł,
				np. przykłady kodu z zewnętrznych serwisów czy filmy. Taka treść zazwyczaj używa ciasteczek. Odrzucenie tego rodzaju ciasteczek spowoduje
				wyłączenie osadzonej treści.
			</p>
			<p>
				<input type="checkbox" id="cookie-dialog-comments" name="comments">
				<label for="cookie-dialog-comments"><b>Komentarze</b></label> – pod większością postów znajdują się komentarze używające systemu <a href="https://giscus.app/pl" hreflang="en" rel="noreferrer noopener"><b>Giscus</b></a>. Do poprawnego działania potrzebują ciasteczek.
			</p>
		</div>
		<p><button>Zapisz ustawienia</button></p>
	</form>
</dialog>
