<div
	class="cookie-banner"
	id="cookie-banner"
	role="region"
	aria-labelledby="cookie-banner-heading">
	<h2 id="cookie-banner-heading">Akceptacja ciasteczek</h2>
	<p id="cookie-banner-description">Ta strona wykorzystuje ciasteczka do poprawnego działania niektórych jej funkcji. Czy akceptujesz ciasteczka?</p>
	<p>
		<button id="cookie-banner-button-all">Akceptuj wszystkie</button>
		<button id="cookie-banner-button-none">Odrzuć wszystkie</button>
		<button id="cookie-banner-button-choose">Dostosuj wybór</button>
	</p>
</div>
<a href="#tresc" class="visually-hidden visually-hidden_skip-link">Przewiń do&nbsp;treści&nbsp;<span aria-hidden="true">⇩</span></a>
<nav class="navbar">
	<a class="navbar__logo" href="/"><span class="navbar__logo-name">Comandeerowy blog</span></a>
	<div class="navbar__theme-switcher theme-switcher">
		<button class="theme-switcher__invoker" aria-haspopup="menu" aria-controls="theme-switcher" aria-expanded="false">Zmień motyw <span aria-hidden="true" class="theme-switcher__invoker-icon">▼</span></button>
		<ul class="theme-switcher__list" id="theme-switcher" role="menu" hidden>
			<li role="presentation">
				<button class="theme-switcher__option" role="menuitemradio" value="light">Jasny</button>
			</li>
			<li role="presentation">
				<button class="theme-switcher__option" role="menuitemradio" value="dark">Ciemny</button>
			</li>
			<li role="presentation">
				<button class="theme-switcher__option" role="menuitemradio" value="auto">Auto</button>
			</li>
		</ul>
	</div>
</nav>
