<p class="rss-subscribe">
	<a href="{%  rss_link %}" class="rss-subscribe__link"><svg class="rss-subscribe__icon" aria-hidden="true" width="16" height="16">
			<use href="/assets/icons.svg#rss"></use>
		</svg> {% rss_label %}
	</a>
</p>
