<footer class="footer">
  <p><small>Używam cookies w celu polepszenia działania witryny. <a href="/polityka-prywatnosci.html">Polityka prywatności</a></small></p>
  <p>Copyright © <a href="https://www.comandeer.pl">Comandeer</a></p>
</footer>
