<a href="#tresc" class="visually-hidden visually-hidden_focusable">Przewiń do&nbsp;treści&nbsp;<span aria-hidden="true">⇩</span></a>
<header class="site-header">
	{% if page.url == '/' %}
	<h1 class="site-heading">
	{% endif %}
	<a class="site-title" href="/">Comandeerowy blog</a>
	{% if page.url == '/' %}
	</h1>
	{% endif %}

</header>
