<header class="site-header">

	<div class="wrapper">
		{% if page.layout == 'home' %}
		<h1 class="site-heading">
		{% endif %}
		<a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
		{% if page.layout == 'home' %}
		</h1>
		{% endif %}

		<nav class="site-nav">
			<ul id="menu" class="site-menu">
				{% for my_page in site.pages %}
					{% if my_page.title %}
					<li class="menu-item">
						<a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>

</header>
