{% assign paginator = include.posts %}

<ul class="post-list">
  {% for post in paginator.items %}
    <li>
      {% include 'post' post=post %}
    </li>
  {% endfor %}
</ul>

{% include 'paginator' paginator=paginator.href %}
