:focus {
	outline: 2px #e00 dashed;
}
:focus-visible {
	outline: 2px #e00 dashed;
}
:focus:not(:focus-visible) {
	outline: none;
}
[tabindex="-1"] {
	outline: none;
}
.sr-only {
	position: absolute;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	white-space: normal;
}
.sr-only:focus {
	clip: auto;
	z-index: 10;
	width: auto;
	height: auto;
	white-space: inherit;
}

.skip-link {
	top: 0;
	left: 0;
	background: #fff;
	color: #000;
	font-size: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
}
.skip-link:hover, .skip-link:focus {
	color: #000;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
	font-size: inherit;
}

kbd {
	padding: 1px 5px;
	background: #eee;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #777;
	font-size: 0.9rem;
	font-variant: small-caps;
}

.site-heading {
	margin: 0;
	display: inline-block;
}
.site-title {
	display: inline-block;
	float: none;
	height: 96px;
	padding-left: 100px;
	background: url( logo.png ) no-repeat top left;
	transition: background .5s ease-in-out;
}

.site-title:hover, .site-title:focus {
	background-position: 0 -96px;
}
@media screen and ( min-width: 400px ) {
	.site-title {
		line-height: 96px;
	}
	.site-nav {
		line-height: 96px;
	}
}
.site-nav .trigger {
	list-style: none;
	margin: 0;
}
@media screen and ( min-width: 601px ) {
	.trigger li {
		display: inline-block;
	}
	.trigger li + li::before {
		content: '|';
		padding: 0 10px;
	}
}

.site-nav {
	display: block;
	position: static;
	float: none;
	text-align: left;
	border: none;
	line-height: normal;
	margin-top: 1em;
	margin-bottom: 1em;
}
@media screen and ( min-width: 601px ) {
	.site-nav {
		float: right;
		line-height: 96px;
		margin: 0;
	}
}
.site-menu {
	margin: 0;
	list-style: none;
	display: flex;
}
.menu-item {
	flex: 1;
}
.site-nav .page-link {
	padding: 0;
	margin: 0;
}
@media screen and ( max-width: 600px ) {
	.site-nav .page-link {
		line-height: 2;
		border: 1px #000 solid;
	}
}

.post-list li + li {
	border-top: 1px #ddd solid;
	padding-top: 20px;
}

.accessible-name {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.figure {
	text-align: center;
}
.figure__image {
	display: inline-block;
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
}
.pagination-item {
	border: 1px #000 solid;
	white-space: nowrap;
	text-align: center;
	flex: 1;
	list-style: none;
}
.pagination-item:not(:last-child) {
	border-right: none;
}
.pagination-link, .pagination-label {
	display: block;
	padding: 0 10px;
	line-height: 2;
}
.pagination-link:hover, .pagination-link:focus {
	background: #eee;
}

a:visited {
	color: $brand-color;
}

.post-link {
	display: inline-block;
}

.note {
	border: 1px #000 solid;
	margin: 1rem;
	padding: 1rem;
}

.note::before {
	margin: -1rem;
	margin-bottom: 0;
	display: block;
	background: #ddd;
	text-align: center;
	content: 'Dygresja';
	font-size: larger;
}
