<!DOCTYPE html>
	<html class="no-js" lang="pl" prefix="og: http://ogp.me/ns#" vocab="http://schema.org">
		{%  if pagination.pageNumber > 0 %}
		{% capture title %}Najnowsze wpisy, strona {{ pagination.pageNumber | plus: 1 }}{% endcapture %}
		{% endif %}
		{% include 'head' %}
		<body>
			{% include 'header' %}
			<main id="tresc">
				<hgroup>
					<h1>Najnowsze wpisy</h1>
					{%  if pagination.pageNumber > 0 %}
					<p>Strona {{ pagination.pageNumber | plus: 1 }}</p>
					{% endif %}
				</hgroup>

				{{ content }}

				{% include 'post-list' posts=pagination %}

				<p class="rss-subscribe">
					<a href="/feeds/feed.xml">
					<img src="/assets/rss.png" alt=""> Subskrybuj blog
					</a>
				</p>
			</main>
			{% include 'footer' %}
		</body>
	</html>
