<!DOCTYPE html>
	<html lang="pl" prefix="og: http://ogp.me/ns#" vocab="http://schema.org">
	  {% include 'head' %}
	  <body class="container is-max-widescreen">
		{% include 'header' %}
		<main id="tresc">
			<article class="post" typeof="BlogPosting">

				<header class="post-header">
				  <h1 class="title is-1" property="name headline">{{ title }}</h1>
				  {%  include 'post-metadata' date=page.date author=author tags=tags %}
			  </header>

				<div property="articleBody">
				  {{ content }}
				</div>

				{% if site.disqus.shortname %}
				  {% include 'disqus_comments' %}
				{% endif %}
			</article>
		</main>
		{% include 'footer' %}
	  </body>
	</html>
