.code {
	border: 1px var(--primary) solid;
	margin-block: 1rem;
	margin-inline: 0;

	.code__caption {
		background-color: var(--secondary-bg);
		margin-block: 0;
		padding-inline-start: 0.5rem;
		font-size: 1.25rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		a {
			color: var(--secondary);
		}
	}

	.code__code .shiki {
		border: none;
		margin: 0;
	}
}

.shiki {
	border: 1px var(--primary) solid;
	tab-size: 4;

	container: code-block / inline-size;

	.line:first-child {
		counter-reset: code-line;
	}

	.line::before {
		counter-increment: code-line;
		content: counter( code-line ) / '';
		display: inline-block;
		position: sticky;
		inset-inline-start: 0;
		inline-size: 4ch;
		border-inline-end: 1px solid;
		margin-inline-end: 0.5ch;
		padding-inline-end: 0.5ch;
		background-color: inherit;
		text-align: end;
	}

	@container ( inline-size < 20ch ) {
		.line::before {
			display: none;
		}
	}

	.line:last-child:empty::before {
		display: none;
	}
}

:where(.shiki, .shiki span) {
	color: var(--shiki-light);
	background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
	[data-theme=auto] :where(.shiki, .shiki span) {
	  color: var(--shiki-dark);
	  background-color: var(--shiki-dark-bg);
	}
}

[data-theme=dark] :where(.shiki, .shiki span) {
	color: var(--shiki-dark);
	background-color: var(--shiki-dark-bg);
}
