.cookie-banner {
	padding-inline: 0.5em;
}

.cookie-dialog {
	background-color: var( --primary-bg );
	color: var( --secondary );
	max-inline-size: 80ch;
}

.cookie-dialog__close {
	float: inline-end;
}

.cookie-dialog__name {
	clear: both;
}
