.figure {
	justify-content: center;
	display: grid;
	grid: max-content minmax(1.5rem, max-content) / max-content;
}

.figure__caption {
	background-color: var(--secondary-bg);
	margin-block: 0;
	text-align: center;
}

.figure__caption a {
	color: var(--secondary);
}
