.meta {
	display: flex;
	flex-wrap: wrap;
	margin-inline-start: 0;
	gap: 0.5em;
	border-inline-start: 4px var(--primary) solid;
    padding-inline-start: 0.5em;
}

.meta__item {
	margin-block-start: 0;
}

.meta__icon {
	fill: var( --primary );
	inline-size: 1.2rem;
	block-size: 1.2rem;
	vertical-align: text-bottom;
	aspect-ratio: 1;
}

.meta__value {
	font-style: normal;
	margin-inline-start: 0;
}

.meta__value::after {
	content: '•';
	margin-inline-start: 0.5em;
}

.meta__value:last-child::after {
	content: '';
}
