.note {
	border: 1px var(--primary) solid;
	margin-block: 1rem;
}

.note__label {
	background-color: var(--secondary-bg);
	margin-block: 0;
	font-size: 1.25rem;
	text-align: center;
}

.note__content {
	padding-inline: 1rem;
}
