.paginator_separate {
	border-block-start: 1px var(--primary) solid;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 0.5rem;
}

.paginator__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	inline-size: 100%;
}

.paginator__item {
	font-size: 1.25em;
	max-inline-size: 50%;
	text-align: start;
}

.paginator__item_next {
	margin-inline-start: auto;
	text-align: end;
}
