.post-list {
	padding-inline-start: 0;
	list-style: none;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.post-list__post {
	border-block-end: 1px solid var(--primary);
}

.post-list__post:last-child {
	border-block-end: none;
}

.rss-subscribe__link {
	display: inline-flex;
	gap: 0.25em;
	align-items: flex-end;
}

.rss-subscribe__icon {
	width: 2rem;
	height: 2rem;
	fill: var(--secondary);
}

.rss-subscribe__link:where(:hover, :focus) .rss-subscribe__icon {
	opacity: 0.8;
}
