code {
	background: var(--secondary-bg);
	padding: 0.25em;
	border-radius: 5px;
}

pre {
	max-inline-size: 100%;
	overflow: auto;
}

pre>code {
	padding: 0;
	background: none;
	border-radius: 0;
}

// Loosely based on https://dylanatsmith.com/wrote/styling-the-kbd-element
kbd {
	background-color: #fff;
	color: #111;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: 0 2px 0 1px var(--#ddd);
	line-height: 1;
	min-inline-size: 0.75rem;
	display: inline-block;
	text-align: center;
	padding-block: 2px;
	padding-inline: 5px;
}

blockquote {
	border-inline-start: 4px solid var( --primary );
	margin: 0;
	padding-inline-start: 1em;
}

.note, .code {
	border: 1px var(--primary) solid;
	margin-block: 1rem;
}

.note__label {
	background-color: var(--secondary-bg);
	margin-block: 0;
	font-size: 1.25rem;
	text-align: center;
}

.note__content {
	padding-inline: 1rem;
}

.code__caption {
	background-color: var(--secondary-bg);
	margin-block: 0;
	padding-inline-start: 0.5rem;
	font-size: 1.25rem;
	display: flex;
	justify-content: space-between;
}

.code__code .shiki {
	border: none;
	margin: 0;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px var(--primary) solid;
	padding: 0.5rem;
}
