.theme-switcher {
	position: relative;
}

.theme-switcher__invoker, .theme-switcher__option {
	background: transparent;
	border-color: transparent;
	color: var( --primary );
	line-height: 2em;
}

.theme-switcher__invoker:hover, .theme-switcher__option:hover {
	background: var( --secondary-bg );
}

.theme-switcher__invoker:active, .theme-switcher__option:active {
	background: #{"color( from var( --secondary-bg ) srgb r g b / 0.7 )"};
}

.theme-switcher__invoker {
	padding: 0 1em;
	height: 100%;

}

.theme-switcher__list {
	background: var( --primary-bg );
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -0.5em;
	border: 1px solid var( --primary );
}


.theme-switcher__list::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid var( --primary );
	top: -5px;
	left: calc( 50% - 2.5px );
}

.theme-switcher__option {
	display: block;
	width: 100%;
}

.theme-switcher__option:focus {
	outline: 2px var( --secondary ) solid;
}

.theme-switcher__option[aria-checked=true]:before {
	content: '✓';
	font-weight: bold;
	font-size: 1.1em;
}
