.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visually-hidden_skip-link:active,
.visually-hidden_skip-link:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	white-space: inherit;
	width: auto;
	top: 0;
	left: 0;
	font-size: 2em;
	background: var(--primary-bg);
}
