<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" prefix="og: http://ogp.me/ns#" vocab="http://schema.org">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  <script id="cookiebanner" src="{{ "/assets/cookies.js" | relative_url }}" data-message="Używam cookies w celu polepszenia działania witryny." data-linkmsg="Dowiedz się więcej" data-moreinfo="{{ "/polityka-prywatnosci.html#pliki-cookies-i-inne-technologie-sledzace" | relative_url }}"></script>
  </body>

</html>
