---
layout: default
---
<div class="home">
  {{ content }}

  {% include 'post-list' posts=pagination %}

  <p class="rss-subscribe">
    <a href="/feeds/feed.xml">
      <img src="/assets/rss.png" alt=""> Subskrybuj blog
    </a>
  </p>

</div>
