---
layout: default
---

<div class="home">

  <h1 class="page-heading">Wpisy</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time>{% if post.author %} • {{ post.author }}{% endif %} • <a href="{{ site.url }}{{ site.baseurl }}/feeds/{{ post.categories }}.xml">{{ post.categories }}</a>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Złap <a href="{{ "/feed.xml" | relative_url }}">RSS-a</a>!</p>

</div>
