---
layout: default
---
<article class="post" typeof="BlogPosting">

  <header class="post-header">
    <h1 class="post-title" property="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" property="datePublished">{{ page.date | date: "%d-%m-%Y" }}</time>{% if page.author %} • <span property="author" typeof="Person"><span property="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" property="articleBody">
    {{ content }}
  </div>
</article>
