<!DOCTYPE html>
	<html lang="pl" prefix="og: http://ogp.me/ns#" vocab="http://schema.org">
	  {% include 'head' %}
	  <body class="container is-max-widescreen">
		{% include 'header' %}
		<main id="tresc">
			<article class="post" typeof="BlogPosting">

				<header class="post-header">
				  <h1 class="post-title" property="name headline">{{ title | escape }}</h1>
			   </header>

				<div class="content" property="articleBody">
				  {{ content }}
				</div>
			  </article>
		</main>
		{% include 'footer' %}
	  </body>
	</html>
